version: "3.8"
services:
  backend:
    image: ${DOCKER_IMAGE:-ghcr.io/carloshonorato70/blackbelt-platform:latest}
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
